psutil==7.2.1
decorator==5.2.1
cupy-cuda13x==13.6.0
requests==2.32.5
GitPython==3.1.46
pluggy==1.6.0
torchvision==0.24.1
jedi==0.19.2
mpmath==1.3.0
wcwidth==0.2.14
flatbuffers==25.2.10
setuptools==78.1.1
nvidia-nvtx-cu12==12.8.90
jax==0.7.0
opencv-contrib-python==4.12.0.88
wandb==0.25.0
idna==3.11
opencv-python==4.12.0.88
nvidia-cufft-cu12==11.3.3.83
jupyter_core==5.9.1
triton==3.5.1
pip==25.1
nvidia-cusparse-cu12==12.5.8.93
sentry-sdk==2.53.0
Pygments==2.19.2
six==1.17.0
nvidia-cusolver-cu12==11.7.3.90
iniconfig==2.3.0
stack_data==0.6.3
comm==0.2.3
mediapipe==0.10.14
matplotlib-inline==0.2.1
nest_asyncio==1.6.0
sounddevice==0.5.2
nvidia-cuda-cupti-cu12==12.8.90
jaxlib==0.7.0
python-dateutil==2.9.0.post0
kiwisolver==1.4.8
typing_extensions==4.15.0
networkx==3.6.1
filelock==3.20.3
ipykernel==7.1.0
protobuf==4.25.8
platformdirs==4.5.1
prompt_toolkit==3.0.52
executing==2.2.1
pexpect==4.9.0
packaging==25.0
opt_einsum==3.4.0
smmap==5.0.2
annotated-types==0.7.0
nvidia-nvjitlink-cu12==12.8.93
certifi==2026.1.4
scipy==1.16.1
MarkupSafe==3.0.3
fastrlock==0.8.3
attrs==25.3.0
pyparsing==3.2.3
debugpy==1.8.16
pure_eval==0.2.3
contourpy==1.3.3
urllib3==2.6.3
pyzmq==27.1.0
sympy==1.14.0
nvidia-nccl-cu12==2.27.5
cycler==0.12.1
nvidia-cudnn-cu12==9.10.2.21
PyYAML==6.0.3
pydantic_core==2.41.5
fonttools==4.59.0
ipython==9.9.0
nvidia-cuda-nvrtc-cu12==12.8.93
pytictoc==1.5.3
parso==0.8.5
torch==2.9.1
nvidia-cublas-cu12==12.8.4.1
pycparser==2.22
numpy==2.2.6
nvidia-curand-cu12==10.3.9.90
pytest==9.0.2
pillow==11.3.0
pydantic==2.12.5
tornado==6.5.4
jupyter_client==8.8.0
nvidia-nvshmem-cu12==3.3.20
nvidia-cusparselt-cu12==0.7.1
fsspec==2026.1.0
matplotlib==3.10.5
ptyprocess==0.7.0
traitlets==5.14.3
click==8.3.1
ml_dtypes==0.5.3
asttokens==3.0.1
ipython_pygments_lexers==1.1.1
wheel==0.45.1
typing-inspection==0.4.2
absl-py==2.3.1
gitdb==4.0.12
nvidia-cuda-runtime-cu12==12.8.90
cffi==1.17.1
charset-normalizer==3.4.4
Jinja2==3.1.6
nvidia-cufile-cu12==1.13.1.3
